.Footer {
    background-color: #04394e;
    padding: 40px 20px;
    font-size: 14px;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 0;
    font-family: "Poppins", sans-serif;
  }
  
  .footer-container {
 
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    color: #ffffff;
    align-items: center;
    background-color: #04394e; 
  }
  
  .footer-column {
    flex: 1;
    
    padding: 10px;
  }
  
  .footer-logo {
    max-width: 150px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-column a {
    color: #ffffff; 
    text-decoration: none;
  }
  
  .footer-column a:hover {
    text-decoration: underline;
  }
  
  .footer-copyright {
    text-align: center;
    font-size: 12px;
    color: #666;
    background-color: #04394e; 
    padding: 10px 0;
  }
  .barra {
    margin: 0 10px;
}
@media (max-width: 768px) {
  .footer-container {
      flex-direction: column; /* Empilhar as colunas */
      text-align: center; /* Alinhar o texto no centro */
  }

  .footer-column {
      flex: 1 0 100%; /* Garantir que cada coluna ocupe 100% da largura */
      margin-bottom: 15px; /* Aumentar o espaço entre as colunas */
  }

  .footer-logo {
      max-width: 120px; /* Reduzir o tamanho da logo em telas pequenas */
  }

  .footer-copyright {
      font-size: 10px; /* Diminuir o tamanho da fonte no rodapé */
  }
}