.Footer {
    background-color: #04394e; /* Cor de fundo para o rodapé */
    padding: 40px 20px;
    font-size: 14px;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 0; /* Remover qualquer margem adicional */
    font-family: "Poppins", sans-serif;
  }
  
  .footer-container {
 
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    color: #ffffff;
    align-items: center;
    background-color: #04394e; /* Cor de fundo para garantir que toda a área do rodapé tenha o mesmo fundo */
  }
  
  .footer-column {
    flex: 1;
    
    padding: 10px;
  }
  
  .footer-logo {
    max-width: 150px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-column a {
    color: #ffffff; /* Ajuste a cor para branco para melhorar o contraste */
    text-decoration: none;
  }
  
  .footer-column a:hover {
    text-decoration: underline;
  }
  
  .footer-copyright {
    text-align: center;
    font-size: 12px;
    color: #666;
    background-color: #04394e; /* Garantir que o fundo do copyright também seja o mesmo */
    padding: 10px 0;
  }
  .barra {
    margin: 0 10px;  /* Adiciona 10px de espaço antes e depois da barra */
}