/* Ajuste global para remover margens e paddings indesejados */


body.quem-somos-page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Remover rolagem horizontal */
  font-family: "Open Sans", sans-serif;
  background-color: #e9a136;
}

/* Div azul com "QUEM SOMOS" */
.header-section {
  width: 100vw; /* Garantir que ocupe 100% da largura da viewport */
  background-color: #04394e; /* Azul principal */
  color: #ffffff;
  text-align: center;
  padding: 2vh 0;
  margin-left: 0; /* Remover margem à esquerda */
  margin-right: 0; /* Remover margem à direita */
  position: relative;
  height: 13vh;
  display: flex; /* Usar flexbox para garantir o alinhamento correto */
  justify-content: center; /* Centraliza o conteúdo na horizontal */
  align-items: center; /* Centraliza o conteúdo na vertical */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.quem-somos-container {
  color: #ffffff; /* Azul principal */
}
.top-section {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #e9a136;
  justify-content: center;
}


.top-text {
  flex: none; /* Impede que o texto se expanda desnecessariamente */
  text-align: center; /* Alinha o conteúdo internamente */
  font-size: 10vh;
  font-weight: 100;
  word-wrap: break-word;
  white-space: normal;
  max-width: 80%;
  align-self: center;
}

.top-text strong {
  font-weight: bold;
}

.header-title {
  font-size: 6vh;
  font-weight: bold;
  margin: 0;
  font-weight: 800;
}

/* Conteúdo principal */
#QuemSomos .main-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-top: 5vh;
  background-color: #ccc;
}

.text-section {
  flex: 1;
  padding-right: 2vw;
  padding-top: 15vh;
  padding-left: 15vh;
}

.main-title {
  font-size: 6vh;
  margin-bottom: 2vh;
  color: #04394e;
}

.main-description {
  font-size: 3vh;
  line-height: 4vh;  /* Aumentando a distância entre as linhas */
  color: #666;
  text-align: justify;
}

.main-image {
  width: 40vw;
  max-width: 100%;
  height: auto;
}

/* Cards */
.cards-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
  gap: 2vw;
  padding-left: 15vh;
  padding-right: 15vh;
}

.card {
  flex: 1;
  text-align: center;
  padding: 3vh 2vw;
  border: 0.2vh solid #ccc;
  border-radius: 1vh;
  background-color: #f9f9f9;
  box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.39);
}

.card-title {
  font-size: 2vh;
  margin-bottom: 1.5vh;
  color: #04394e;
}

.card-text {
  font-size: 1.5vh;
  color: #666;
}
