body.quem-somos-page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  font-family: "Open Sans", sans-serif;
  background-color: #e9a136;
}
.header-section {
  background-color: #04394e; 
  color: #ffffff;
  text-align: center;
  padding: 2vh 0;
  margin-left: 0; 
  margin-right: 0;
  position: relative;
  height: 13vh;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.quem-somos-container {
  color: #ffffff;
}
.top-section {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #e9a136;
  justify-content: center;
}


.top-text {
  flex: none; 
  text-align: center; 
  font-size: 10vh;
  font-weight: 100;
  word-wrap: break-word;
  white-space: normal;
  max-width: 80%;
  align-self: center;
}

.top-text strong {
  font-weight: bold;
}

.header-title {
  font-size: 6vh;
  font-weight: bold;
  margin: 0;
  font-weight: 800;
}

#QuemSomos .main-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-top: 5vh;
  background-color: #ccc;
}

.text-section {
  flex: 1;
  padding-right: 2vw;
  padding-top: 15vh;
  padding-left: 15vh;
}

.main-title {
  font-size: 6vh;
  margin-bottom: 2vh;
  color: #04394e;
}

.main-description {
  font-size: 3vh;
  line-height: 4vh;
  color: #666;
  text-align: justify;
}

.main-image {
  width: 40vw;
  max-width: 100%;
  height: auto;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 2vw;
  padding-left: 15vh;
  padding-right: 15vh;
}

.card {
  flex: 1;
  text-align: center;
  padding: 3vh 2vw;
  border: 0.2vh solid #ccc;
  border-radius: 1vh;
  background-color: #f9f9f9;
  box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.39);
}

.card-title {
  font-size: 2vh;
  margin-bottom: 1.5vh;
  color: #04394e;
}

.card-text {
  font-size: 1.5vh;
  color: #666;
}
@media (max-width: 768px) {
  .top-text {
    flex: none;
    text-align: center;
    font-size: 5vh;
    font-weight: 100;
    word-wrap: break-word;
    white-space: normal; /* Permite a quebra de linha */
    max-width: 90%;
    align-self: center;
  }

  .top-text strong {
    display: inline; /* Garante que a tag <strong> se comporte normalmente */
  }

  .top-text strong:last-child {
    display: block; /* Força a palavra "realidade" a ir para a linha abaixo */
    margin-top: 1vh; /* Espaço entre as linhas */
  }
  .main-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 5vw;
    margin-bottom: 2vh;
  }

  .text-section {
    padding: 0 5vw;
    margin-bottom: 2vh;
  }

  .main-description {
    text-align: justify;
  }

  .main-image {
    display: block;
    width: 45%;
    margin: 0 auto 2vh auto;
  }

  .cards-container {
    display: flex;
    justify-content: center; /* Centraliza os cards */
    align-items: stretch;
    gap: 2vw;
    width: 90%; /* Ajusta a largura da container para não ultrapassar */
    margin: 0 auto;
    padding: 0 5vw; /* Padding pequeno à esquerda e direita */
    box-sizing: border-box; /* Inclui o padding no cálculo da largura total */
  }

  .card {
    width: 32%; /* Garantir que caibam três cards sem ultrapassar */
    max-width: 230px; /* Limita a largura dos cards */
    margin-bottom: 2vh;
    padding: 2vh 1vw; /* Padding reduzido nos cards */
  }
}



