.simulador-container {
  width: 50%;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding-top: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.67);
  border-radius: 8px;
}

.simulador-pergunta {
  margin-bottom: 20px;
  text-align: center;
}

.simulador-pergunta h2 {
  font-size: 24px;
  color: #04394e;
}
.simulador-opcoes p {
  margin: 10px;
  color: #04394e;
}

.simulador-descricao {
  display: flex;
  align-items: center;
  background-color: #04394e;
  color: #e9a136;
  padding: 30px;
  border-radius: 5px;
  width: 82%;
  height: 30vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  word-wrap: break-word;
  white-space: normal;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.67);
}
.descricao-imagem {
  width: auto;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.descricao-texto {
  font-size: 16px;
  flex-grow: 1;
  word-wrap: break-word;
  padding-left: 15px;
}

.simulador-opcoes {
  width: 100%;
  text-align: center;
}

.simulador-opcoes h3 {
  margin-top: 15px;
  font-size: 18px;
  color: #04394e;
}

.opcao {
  background-color: #909090;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 10px auto;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;

  width: 88%;
  display: block;
  font-family: "Qanelas", Arial, sans-serif;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.67);
  font-weight: 200;
}

.opcao:hover {
  background-color: #04394e;
  color: #e9a136;
}

/* Navegação */
.simulador-navegacao {
  width: 100%;
  text-align: center;
}

.botao-avancar {
  background-color: #e9a136;
  color: #04394e;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Qanelas", Arial, sans-serif;
  width: 30%;
}

.botao-avancar:hover {
  background-color: #e9a136;
  color: #04394e;
}

.barra-progresso {
  margin-top: 10px;
  height: 5px;
  background-color: #ddd;
  border-radius: 3px;
  position: relative;
  width: 100%;
}

.progresso {
  height: 100%;
  background-color: #04394e;
  border-radius: 3px;
}

@font-face {
  font-family: "Qanelas";
  src: url("../../fonts/Radomir Tinkov  QanelasSoftBlack.otf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.simulador-container {
  font-family: "Qanelas", Arial, sans-serif;
}

.opcao.selected {
  background-color: #04394e;
  color: #f8c300;
}

.botao-avancar:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

input[type="range"] {
  width: 80%;
  height: 10px;
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(to right, #04394e, #f8c300);
  border-radius: 5px;
  outline: none;
  transition: background 0.3s ease;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #04394e;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background-color: #ffffff;
  transform: scale(1.2);
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #f8c300;
  border-radius: 50%;
  border: 2px solid #04394e;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

input[type="range"]::-moz-range-thumb:hover {
  background-color: #ffbc00;
  transform: scale(1.2);
}

input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background-color: #f8c300;
  border-radius: 50%;
  border: 2px solid #04394e;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

input[type="range"]::-ms-thumb:hover {
  background-color: #ffbc00;
  transform: scale(1.2);
}

.opcao-personalizada {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-family: "Qanelas", Arial, sans-serif;
  font-weight: lighter;
}

.opcao-personalizada label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #e9a136;
}

.opcao-personalizada input[type="text"] {
  width: 100%;
  max-width: 400px;
  padding: 12px;
  background-color: #f0f0f0;
  color: #04394e;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.67);
  font-weight: lighter;
}

.opcao-personalizada input[type="text"]:focus {
  border-color: #f8c300;
}

@import url("https://fonts.googleapis.com/css2?family=Qanelas:wght@400;700&display=swap");

.location-question,
.city-input {
  font-family: "Qanelas", sans-serif;
  margin-bottom: 12px;
}

.location-label,
.city-label {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
  display: block;
  text-align: left;
  padding-top: 10px;
  padding-left: 65px;
  color: #04394e;
}

.location-select,
.city-input-field {
  width: 87%;
  padding: 15px;
  margin-top: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #9f9f9f;
  color: white;
  font-weight: 600;
}

.location-select:focus,
.city-input-field:focus {
  border: 1px solid #f8c300;
  outline: none;
}

.city-input-field {
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #9f9f9f;
  color: white;
}

.opcao-localizacao {
  font-family: "Qanelas", sans-serif;
  padding: 8px 12px;
  margin-top: 8px;
  border: none;
  background-color: #f8c300;
  color: white;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.opcao-localizacao:hover {
  background-color: #04394e;
}
.location-select::placeholder,
.city-input-field::placeholder {
  color: white;
}
.selecionar-estado {
  font-size: 1.5rem;
  font-weight: bold;
}

.dados-pessoais-form {
  font-family: "Qanelas", sans-serif;
  font-size: 16px;
  color: #333;
}

.dados-pessoais-form input,
.dados-pessoais-form select {
  width: 87%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

.dados-pessoais-form select {
  padding-right: 30px;
}
.dados-pessoais-form label {
  font-weight: bold;

  display: block;
  margin-bottom: 5px;
}

.dados-pessoais-form .field-container {
  margin-bottom: 5px;
}
.dados-pessoais-form .field-container label {
  text-align: left;
  padding-left: 60px;
}
form {
  padding-top: 15px;
}
.mensagem-agradecimento {
  background-color: #04394e;
  color: #f8c300;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-top: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mensagem-agradecimento h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

.mensagem-agradecimento p {
  font-size: 16px;
  margin-bottom: 0;
}
.simu {
  background-color: #e9a136;

  width: 100%;
  border-top: #e9a136 solid 50px;
  border-bottom: #e9a136 solid 50px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  border-top: 5px solid #e9a136;
}

.modal h2 {
  color: #04394e;
  margin-bottom: 15px;
}

.modal p {
  color: #333;
  margin-bottom: 20px;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #e9a136;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-family: "Qanelas", Arial, sans-serif;
}

.modal-close-button:hover {
  background: #04394e;
}
/* Ajustes para telas pequenas */
@media (max-width: 768px) {
  .simulador-container {
    width: 90%;
    padding: 10px;
    flex-grow: 1;
    padding-bottom: 20px;
  }

  .simulador-pergunta h2 {
    font-size: 18px;
  }

  .simulador-descricao {
    width: 100%;
    height: auto;
    padding: 15px;
    box-sizing: border-box;
  }

  .simulador-container .selecionar-estado {
    font-size: 1.2rem;
  }

  .location-select,
  .city-input-field {
    width: 100%;
    font-size: 16px;
    padding: 12px;
  }

  .location-select option {
    font-size: 16px;
  }

  .botao-avancar {
    width: 80%;
    margin: 0 auto;
    padding: 8px 16px;
  }

  .simulador-opcoes p {
    font-size: 14px;
  }

  .opcao {
    padding: 8px 16px;
    font-size: 14px;
    width: 100%;
  }

  .barra-progresso {
    width: 100%;
  }

  .opcao-personalizada input[type="text"] {
    padding: 10px;
    font-size: 14px;
  }

  .location-label,
  .city-label {
    padding-left: 10px;
    font-size: 14px;
  }

  .simu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .dados-pessoais-form {
    padding-bottom: 20px;
  }

  .dados-pessoais-form label {
    text-align: left;
    font-size: 14px;
  }

  .dados-pessoais-form .field-container label {
    padding-left: 0;
  }

  .dados-pessoais-form input,
  .dados-pessoais-form select {
    width: 100%;
  }

  .mensagem-agradecimento h2 {
    font-size: 20px;
  }

  .modal {
    width: 90%;
    padding: 20px;
  }

  .modal-close-button {
    padding: 8px 12px;
    font-size: 14px;
  }

  footer {
    padding-top: 30px;
  }
}
@media (max-width: 480px) {
  .simulador-container {
    width: 90%;
    padding: 10px;
    flex-grow: 1;
    padding-bottom: 20px;
  }

  .simulador-pergunta h2 {
    font-size: 16px;
  }

  .simulador-descricao {
    width: 100%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
  }

  .simulador-container .selecionar-estado {
    font-size: 1.1rem;
  }

  .location-select,
  .city-input-field {
    width: 100%;
    font-size: 14px;
    padding: 10px;
  }

  .location-select option {
    font-size: 14px;
  }

  .botao-avancar {
    width: 80%;
    margin: 0 auto;
    padding: 6px 12px;
  }

  .simulador-opcoes p {
    font-size: 12px;
  }

  .opcao {
    padding: 6px 12px;
    font-size: 12px;
    width: 100%;
  }

  .barra-progresso {
    width: 100%;
  }

  .opcao-personalizada input[type="text"] {
    padding: 8px;
    font-size: 12px;
    width: 50vh;
  }
  .simulador-container .simulador-descricao p {
    display: none !important; /* Esconde a frase */
  }
  .location-label,
  .city-label {
    padding-left: 8px;
    font-size: 12px;
  }

  .simu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .dados-pessoais-form {
    padding-bottom: 20px;
  }

  .dados-pessoais-form label {
    text-align: left;
    font-size: 12px;
  }

  .dados-pessoais-form .field-container label {
    padding-left: 0;
  }

  .dados-pessoais-form input,
  .dados-pessoais-form select {
    width: 100%;
  }

  .mensagem-agradecimento h2 {
    font-size: 16px;
  }

  .modal {
    width: 90%;
    padding: 15px;
  }

  .modal-close-button {
    padding: 6px 10px;
    font-size: 12px;
  }

  footer {
    padding-top: 20px;
  }

  /* Ajuste da largura do campo de valor do imóvel */
  .simulador-container .valor-imovel {
    width: 70%; /* Reduz a largura do campo para o valor do imóvel */
    margin: 0 auto;
  }

  /* Desativar as imagens na pergunta do estado e deixar apenas o texto */
  .simulador-container .selecionar-estado img {
    display: none; /* Esconde as imagens */
  }
}


