/* Certifique-se de que o layout inteiro ocupe 100% da tela */
html, body, #root {
  height: 100%;  /* Garantir que o root ocupe toda a altura da tela */
  margin: 0;     /* Remover margens padrão do body */
  padding: 0;    /* Remover padding padrão do body */
  width: 100%;    /* Garantir que ocupe toda a largura */
  box-sizing: border-box; /* Inclui o padding e a borda no cálculo de largura e altura */
}

.app-container {
  width: 100%;         /* Faz o contêiner ocupar 100% da largura */
  height: 100%;        /* Faz o contêiner ocupar 100% da altura */
  display: flex;
  flex-direction: column;
}

/* Ajustar o header e footer para se ajustar ao restante do conteúdo */
header, footer {
  width: 100%;
}

